# Notebook to classify power plants
Variables include:
- Fuel type
- Historical ramp speeds
- Historical efficiency
- Location?

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

### Variable definitions

These variables will be used to cluster the power plants.
- year: year that the data is for
- fuel type: primary fuel type used at the facility (SUB, LIG, NG, etc)
- 1-hr ramp rate: maximum or 95 percentile rate of generation increase over 1 hour
- 3-hr ramp rate: maximum or 95 percentile rate of generation increase over 3 hours
- efficiency: might just change this to heat rate (MMBTU/MWh)
- efficiency std: standard deviation in efficiency based on monthly values for the year
- CF: capacity factor, which is the amount generated in a year divided by the theoretical maximum generation possible $MWh/(Capacity * 8760)$ (or hours per month for monthly values used in calculating the standard deviation)
- CF std: standard deviation of CF based on monthly values for the year

In [2]:
# cols = ['year', 'fuel type', '1-hr ramp rate', '3-hr ramp rate',
#         'efficiency', 'efficiency std', 'CF', 'CF std']

# #Add index of power plant IDs
# df = pd.DataFrame(columns=cols)

In [3]:
filename = 'Cluster_Data.csv'
path = '../Clean Data'
fullpath = os.path.join(path, filename)

cluster_df = pd.read_csv(fullpath)

##### missing '1-hr ramp rate'

In [4]:
cluster_df[cluster_df.plant_id==127]

,year,plant_id,capacity,capacity_factor,efficiency,ramp_rate,fuel_type
0,2007,127,720.0,0.673762,0.322937,448.0,SUB
216,2008,127,720.0,0.663369,0.322089,275.0,SUB
450,2009,127,720.0,0.450726,0.313565,277.0,SUB
695,2010,127,720.0,0.583774,0.323464,302.0,SUB
948,2011,127,720.0,0.543626,0.318966,341.0,SUB
1205,2012,127,720.0,0.499563,0.325519,266.0,SUB
1479,2013,127,720.0,0.635520,0.331127,293.0,SUB
1761,2014,127,720.0,0.515289,0.329987,306.0,SUB
2052,2015,127,720.0,0.333515,0.307468,300.0,SUB

In [5]:
cluster_df[cluster_df.plant_id==3466]

,year,plant_id,capacity,capacity_factor,efficiency,ramp_rate,fuel_type
11,2007,3466,2314.5,-0.000217,-inf,NaN,AB
229,2008,3466,2314.5,-0.000109,-inf,NaN,AB
462,2009,3466,NaN,NaN,-inf,NaN,AB

In [7]:
cluster_df[cluster_df.plant_id==3584]

,year,plant_id,capacity,capacity_factor,efficiency,ramp_rate,fuel_type
35,2007,3584,2.4,0.530517,0.345203,NaN,WAT
251,2008,3584,2.4,0.356546,0.346259,NaN,WAT
484,2009,3584,2.4,0.214814,0.349580,NaN,WAT
728,2010,3584,2.4,0.530065,0.349732,NaN,WAT
978,2011,3584,2.4,0.200446,0.351166,NaN,WAT
1235,2012,3584,2.4,0.000000,NaN,NaN,AB
1509,2013,3584,2.4,0.175221,0.357609,NaN,WAT
1791,2014,3584,2.4,0.110054,0.358795,NaN,WAT
2081,2015,3584,2.4,0.376490,0.366289,NaN,WAT